.g-thin {
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  font-weight: 200;
  font-style: normal;
}

.g-book {
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  font-weight: 300;
  font-style: normal;
}

.g-medium {
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  font-weight: 400;
  font-style: normal;
}

.g-bold {
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  font-weight: 700;
  font-style: normal;
}

/*@font-face {
    font-family: Gotham;
    src: url('../fonts/Gotham/Gotham-Black.otf');
}

@font-face {
    font-family: GothamBook;
    src: url('../fonts/Gotham/Gotham-Book.otf');
}

@font-face {
    font-family: GothamMedium;
    src: url('../fonts/Gotham/Gotham-Medium.otf');
}

.g-book { font-family: GothamBook; }
.g-medium { font-family: GothamMedium; }*/
* {
  border: none;
  font-weight: 300;
  outline: none;
  font-family: Gotham;
  margin: 0;
  padding: 0;
}

body {
  color: #29292b;
  position: relative;
  width: 100%;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  text-transform: uppercase;
}
body p {
  color: #29292b;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
}
body b {
  font-weight: 500;
}

.container {
  max-width: 1130px;
  position: relative;
  height: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

#header {
  background: #29292b;
  overflow: hidden;
  min-height: 138px;
  position: relative;
  width: 100%;
}
#header div.logo {
  float: left;
  height: 68px;
  margin-top: 31px;
  overflow: hidden;
  width: 238px;
}
#header div.wf-icon-wf-labs-logo {
  color: white;
  font-size: 240px;
  float: left;
  height: 100%;
  position: relative;
  top: -35px;
  width: 238px;
}
#header div.wf-icon-wf-labs-logo:before {
  line-height: 150px;
}
#header h3 {
  clear: right;
  color: white;
  float: right;
  font-size: 24px;
  letter-spacing: 1px;
  margin-top: 25px;
  text-align: right;
  text-transform: uppercase;
}
#header ul {
  float: right;
  list-style-type: none;
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: uppercase;
}
#header ul li {
  display: inline;
  padding: 20px;
}
#header ul li a {
  color: white;
  font-size: 12px;
  letter-spacing: 1px;
  text-decoration: none;
}
#header ul li a:hover {
  color: #e52827;
}
#header ul li:last-child, #header ul li.last {
  padding-right: 0;
}

#banner {
  border-bottom: 90px solid #29292b;
  position: relative;
}
#banner h1 {
  float: left;
  font-size: 46px;
  line-height: 62px;
  margin-top: 100px;
  max-width: 520px;
  width: 50%;
}
#banner img {
  float: right;
  width: 50%;
  max-width: 517px;
  margin-top: 40px;
}

#in-this-issue {
  background: #e52827;
  height: 240px;
  position: absolute;
  padding: 0 33px;
  right: 15px;
  width: 265px;
  z-index: 10;
}
#in-this-issue h3 {
  border-bottom: 1px solid black;
  color: white;
  font-size: 24px;
  margin: 0;
  padding: 30px 0 10px;
  text-align: center;
}
#in-this-issue a {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  font-style: italic;
  margin-left: 5px;
}
#in-this-issue a:hover {
  text-decoration: underline;
}
#in-this-issue ul {
  padding-top: 20px;
  list-style-type: none;
  position: relative;
}
#in-this-issue ul li {
  height: 25px;
}
#in-this-issue ul li img {
  margin: 0 5px 0 -15px;
}
#in-this-issue ul li a {
  color: black;
  cursor: pointer;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  font-style: italic;
  line-height: 24px;
}
#in-this-issue ul li a:hover {
  text-decoration: underline;
}

.view-more {
  position: relative;
  text-align: center;
  clear: both;
  margin-top: 50px;
  float: left;
  width: 100%;
}
.view-more * {
  color: #999;
}
.view-more div.line {
  border-top: 1px solid #999;
  position: absolute;
  width: 100%;
}
.view-more [class*="wf-icon"] {
  cursor: pointer;
  font-size: 50px;
  padding-bottom: 15px;
  margin: -23px auto 0;
  width: 90px;
  background: white;
  height: 63px;
  position: relative;
  z-index: 2;
}
.view-more span {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  font-style: italic;
  line-height: 16px;
  padding-left: 0;
}

.more {
  display: none;
  clear: both;
  min-height: 50px !important;
  position: relative;
}

.content {
  clear: both;
  position: relative;
  width: 100%;
}
.content h3 {
  font-size: 36px;
  margin: 50px 0 20px;
}
.content p {
  margin-bottom: 20px;
}

#test-methodology h3 {
  max-width: 480px;
}
#test-methodology p {
  max-width: 740px;
}
#test-methodology p:nth-child(2) {
  max-width: 680px;
}
#test-methodology ul {
  float: left;
  list-style-type: none;
  padding-left: 20px;
  margin: 20px 0;
}
#test-methodology ul li {
  clear: left;
  float: left;
  margin-bottom: 20px;
}
#test-methodology ul li p {
  float: left;
  font-weight: bold;
  padding: 0;
  margin: 0;
  width: auto;
}
#test-methodology ul li p span {
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  color: white;
  display: block;
  font-size: 14px;
  background: #29292b;
  float: left;
  height: 30px;
  width: 30px;
  text-align: center;
  padding: 7px;
  margin: -5px 10px 0 0;
}
#test-methodology h4 {
  clear: both;
  font-size: 18px;
  text-transform: none;
  margin: 20px 0 15px;
}
#test-methodology a {
  color: #e52827;
  font-weight: 500;
}
#test-methodology div.more h4 {
  color: #e52827;
  font-size: 24px;
  text-transform: uppercase;
}
#test-methodology div.more div.table {
  margin-bottom: 40px;
}
#test-methodology div.more div.col {
  float: left;
  padding: 0;
  width: 20%;
}
#test-methodology div.more div.col span {
  display: block;
  height: 60px;
  position: relative;
}
#test-methodology div.more div.col span h5, #test-methodology div.more div.col span p {
  position: absolute;
  bottom: 0;
  margin: 0;
  margin-bottom: 10px;
}
#test-methodology div.more div.col span:first-child {
  height: 250px;
}
#test-methodology div.more div.col div.sprite {
  background-image: url("../images/5_easy_steps.png");
  height: 120px;
  position: relative;
  top: 40px;
  width: 120px;
  margin: 0 auto;
}
#test-methodology div.more div.col div.dot {
  background-image: url("../images/table_dot.png");
  background-repeat: repeat-x;
  height: 4px;
  margin: 10px 0;
  width: 100%;
}
#test-methodology div.more div.col div.dot + p {
  margin-top: 30px;
}
#test-methodology div.more div.col h5, #test-methodology div.more div.col p {
  font-size: 18px;
  line-height: 20px;
  padding: 0 20px;
}
#test-methodology div.more div.col h5 {
  font-weight: bold;
}
#test-methodology div.more div.col:nth-child(1) div.sprite {
  background-position: -5px -5px;
}
#test-methodology div.more div.col:nth-child(1) div.dot {
  margin-left: 12px;
}
#test-methodology div.more div.col:nth-child(2) div.sprite {
  background-position: -200px -5px;
}
#test-methodology div.more div.col:nth-child(3) div.sprite {
  background-position: -422px -5px;
}
#test-methodology div.more div.col:nth-child(4) div.sprite {
  background-position: -650px -5px;
}
#test-methodology div.more div.col:nth-child(5) div.sprite {
  background-position: -892px -5px;
}
#test-methodology div.more div.col:nth-child(5) div.dot {
  margin-right: 12px;
}
#test-methodology div.more div.img {
  width: 50%;
}
#test-methodology div.more div.img h4 {
  margin: 15px 0 0 0 !important;
}
#test-methodology div.more div.img img {
  width: 100%;
}
#test-methodology div.more div.img p {
  color: #e52827;
  font-size: 16px;
}
#test-methodology div.more div.img:nth-child(4) {
  float: left;
  padding-right: 20px;
}
#test-methodology div.more div.img:nth-child(5) {
  float: right;
  padding-left: 20px;
}

#ab-testing p {
  max-width: 830px;
}
#ab-testing ul {
  clear: both;
  padding-left: 50px;
  margin-top: 20px;
  float: left;
}
#ab-testing ul li {
  margin-bottom: 5px;
}
#ab-testing ul li p {
  font-weight: bold;
  margin: 0;
}
#ab-testing ul li p span.red {
  color: #e52827;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
}
#ab-testing div.more img {
  max-width: 971px;
  width: 100%;
}

#test-execution img {
  width: 100%;
}

#social-testing p:nth-child(2) {
  max-width: 680px;
}
#social-testing div.more h3 {
  max-width: 760px;
  text-align: left;
}
#social-testing div.more h4 {
  color: #e52827;
  text-align: left;
}
#social-testing div.more div.table {
  margin-top: 80px;
  position: relative;
  padding-bottom: 60px;
}
#social-testing div.more div.table br.img {
  display: none;
}
#social-testing div.more div.table img {
  bottom: 0;
  left: 32%;
  max-width: 355px;
  position: absolute;
  width: 100%;
}
#social-testing div.more div.table div.col {
  float: left;
  width: 25%;
}
#social-testing div.more div.table div.col div.sprite {
  background-image: url("../images/circle.png");
  background-repeat: no-repeat;
  background-position: -5px 0;
  height: 73px;
  width: 64px;
  position: relative;
  text-align: center;
}
#social-testing div.more div.table div.col div.sprite p {
  font-size: 32px;
  padding: 0 !important;
  margin: 0 !important;
  position: relative;
  top: 29px;
}
#social-testing div.more div.table div.col p {
  margin: 0;
  line-height: 20px;
}
#social-testing div.more div.table div.col h5 {
  font-size: 18px;
  font-weight: bold;
  margin: 15px 0 0;
  text-transform: none;
}
#social-testing div.more div.table div.col h5 + p {
  margin-bottom: 15px;
}
#social-testing div.more div.table div.col:nth-child(6) p {
  margin-bottom: 15px;
}
#social-testing div.more #view-hs-video {
  background: #ccc;
  color: white;
  cursor: pointer;
  display: block;
  float: left;
  padding: 10px 20px;
  text-transform: uppercase;
}
#social-testing div.more #view-hs-video:hover {
  background: #aaa;
  text-decoration: none;
}
#social-testing div.more iframe {
  left: 50%;
  height: 270px;
  width: 480px;
  position: relative;
  margin-left: -240px;
}

#more {
  border: 1px solid #29292b;
  margin: 70px 0;
  padding: 20px;
  text-align: center;
}
#more p {
  padding: 0;
  margin: 0 auto;
  max-width: 760px;
}
#more a {
  color: #e52827;
  font-weight: bold;
}

#footer {
  clear: both;
  background: #29292b;
  height: 346px;
  position: relative;
  text-align: center;
  width: 100%;
}
#footer * {
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 1px;
}
#footer h4 {
  color: #999;
  font-size: 18px;
  top: 60px;
}
#footer ul {
  list-style-type: none;
  display: table;
  margin: 0 auto;
  top: 115px;
}
#footer ul li {
  display: inline;
  float: left;
}
#footer ul li a [class*="wf-icon"] {
  font-size: 60px;
  color: #666;
  padding-bottom: 6px;
}
#footer ul li a p {
  color: #666;
  border-left: 1px solid #666;
  border-right: 1px solid #666;
  padding: 0 25px;
  font-size: 14px;
  height: 20px;
}
#footer ul li a:hover * {
  color: white;
}
#footer ul li:first-child p, #footer ul li.first p {
  border-left: none;
}
#footer ul li:last-child p, #footer ul li.last p {
  border-right: none;
}
#footer span {
  color: #4D4D4D;
  display: block;
  font-size: 10px;
  top: 170px;
}

@media (max-width: 1080px) {
  #banner h1 {
    font-size: 40px !important;
    line-height: 50px !important;
  }
}
@media (max-width: 980px) {
  #test-methodology p:nth-child(2) {
    max-width: 580px;
  }
  #test-methodology div.more div.col {
    width: 100%;
  }
  #test-methodology div.more div.col span {
    height: 40px;
  }
  #test-methodology div.more div.col span:first-child {
    height: 170px;
  }
  #test-methodology div.more div.col div.sprite {
    float: left;
  }
  #test-methodology div.more div.col div.dot {
    margin: 0 !important;
  }
  #test-methodology div.more div.col h5 {
    float: left;
    position: relative !important;
    top: 85px;
  }

  #social-testing div.table {
    margin-top: 20px !important;
    text-align: center !important;
  }
  #social-testing div.col {
    text-align: left !important;
    width: 50% !important;
  }
  #social-testing div.col div.sprite {
    position: absolute !important;
  }
  #social-testing div.col h5, #social-testing div.col p {
    margin-left: 80px !important;
  }
  #social-testing div.col:nth-child(2), #social-testing div.col:nth-child(5) {
    clear: left !important;
  }
  #social-testing img {
    left: auto !important;
    position: relative !important;
  }
  #social-testing br.img {
    display: block !important;
  }
}
@media (max-width: 860px) {
  #in-this-issue {
    display: none;
  }
}
@media (max-width: 800px) {
  #banner div.container {
    text-align: center;
  }
  #banner h1 {
    width: 100%;
    max-width: 100%;
    margin: 40px 0;
    text-align: center;
  }
  #banner img {
    float: none;
    margin: 0;
  }
}
@media (max-width: 680px) {
  #banner h1 {
    font-size: 30px;
    line-height: 40px;
  }

  #test-methodology div.img {
    clear: both;
    float: none !important;
    width: 100% !important;
    padding: 0 20px;
  }
  #test-methodology div.img:nth-child(4) {
    margin-bottom: 20px;
  }

  #social-testing div.col {
    width: 100% !important;
  }
}
@media (max-width: 700px) {
  #footer ul li [class*="wf-icon"] {
    font-size: 40px !important;
    margin: 0 5px;
  }
  #footer ul li a p {
    display: none;
  }
}
@media (min-width: 575px) and (max-width: 768px) {
  #header h3 {
    width: 300px;
  }
}
@media (max-width: 575px) {
  #header div.logo {
    margin-top: 16px;
  }
  #header ul {
    display: none;
  }
  #header h3 {
    margin: 18px 10px 0;
    font-size: 15px;
    float: left;
    width: 100%;
    text-align: left;
  }
}
@media (max-width: 500px) {
  div.content h3 {
    font-size: 24px;
    margin-top: 30px;
  }

  #test-methodology p:nth-child(2) {
    max-width: 580px;
  }
  #test-methodology div.more div.col span {
    height: 40px;
  }
  #test-methodology div.more div.col span:first-child {
    height: 250px;
  }
  #test-methodology div.more div.col div.sprite {
    float: none;
  }
  #test-methodology div.more div.col h5 {
    float: none;
    text-align: center;
  }

  #ab-testing ul {
    padding-left: 20px;
  }
}
