@font-face {
  font-family: Gotham;
  src: url("../fonts/Gotham/Gotham-Black.otf");
}

@font-face {
  font-family: GothamBook;
  src: url("../fonts/Gotham/Gotham-Book.otf");
}

@font-face {
  font-family: GothamMedium;
  src: url("../fonts/Gotham/Gotham-Medium.otf");
}

.g-book {
  font-family: GothamBook;
}

.g-medium {
  font-family: GothamMedium;
}

* {
  border: none;
  font-weight: 300;
  outline: none;
  font-family: Gotham;
  margin: 0;
  padding: 0;
}

body {
  color: #29292b;
  position: relative;
  width: 100%;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  text-transform: uppercase;
}
body p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 22px;
}

.container {
  max-width: 1280px;
}

#header {
  display: none;
  background: #29292b;
  height: 138px;
  position: relative;
  width: 100%;
}
#header div.logo {
  background-image: url("../images/spotlight_landing_logo.png");
  position: absolute;
  top: 35px;
  left: 30px;
  height: 66px;
  width: 238px;
}
#header h3, #header ul {
  margin-right: 60px;
}
#header h3 {
  clear: right;
  color: white;
  float: right;
  font-size: 24px;
  letter-spacing: 1px;
  margin-top: 25px;
  text-align: right;
  text-transform: uppercase;
}
#header ul {
  float: right;
  list-style-type: none;
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: uppercase;
}
#header ul li {
  display: inline;
  padding: 20px;
}
#header ul li a {
  color: white;
  font-size: 12px;
  letter-spacing: 1px;
  text-decoration: none;
}
#header ul li a:hover {
  color: #e23120;
}
#header ul li:last-child {
  padding-right: 0;
}

#content {
  display: none;
}
#content div.banner {
  min-height: 420px;
  text-align: center;
}
#content div.banner > div {
  float: none;
  margin-left: auto;
  margin-right: auto;
}
#content div.banner h1 {
  font-size: 48px;
  line-height: 58px;
  margin-top: 40px;
  text-transform: none;
  text-align: left;
}
#content div.banner img {
  position: absolute;
  bottom: 88px;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 100%;
}
#content div.black-bar {
  background: #29292b;
  height: 90px;
}

#footer {
  display: none;
}

/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
