@mixin opacity($level) {
   opacity: $level;
   filter: alpha(opacity=($level * 100));
}

@mixin border-radius($radius) {
   border-radius: $radius;
   -moz-border-radius: $radius;
   -webkit-border-radius: $radius;
}

@mixin box-shadow($shadow) {
   -webkit-box-shadow: $shadow;
   -moz-box-shadow: $shadow;
   box-shadow: $shadow;
}

@mixin bg-image($path) {
   background-image: url('../images/' + $path);
}

$black : #29292B;
$red : #E52827;

@font-face {
   font-family: Gotham;
   src: url('../fonts/Gotham/Gotham-Black.otf');
}

@font-face {
   font-family: GothamBook;
   src: url('../fonts/Gotham/Gotham-Book.otf');
}

@font-face {
   font-family: GothamMedium;
   src: url('../fonts/Gotham/Gotham-Medium.otf');
}

.g-book { font-family: GothamBook; }
.g-medium { font-family: GothamMedium; }

* {
   border: none;
   font-weight: 300;
   outline: none;
   font-family: Gotham;
   margin: 0;
   padding: 0;
}

body {
   color: $black;
   position: relative;
   width: 100%;
   h1,h2,h3,h4,h5,h6 { text-transform: uppercase; }
   p {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 18px;
      line-height: 22px;
   }
}

.container {
   max-width: 1130px;
   position: relative;
   height: 100%;
   padding: 0 15px;
   margin: 0 auto;
}

.container-sm {
   float: right;
   padding-left: 120px;
   width: 100%;
}

#header {
   background: $black;
   overflow: hidden;
   min-height: 138px;
   position: relative;
   width: 100%;
   div.logo {
      float: left;
      height: 68px;
      margin-top: 31px;
      overflow: hidden;
      width: 238px;
   }
   div.wf-icon-wf-labs-logo {
      color: white;
      font-size: 240px;
      float: left;
      height: 100%;
      position: relative;
      top: -35px;
      width: 238px;
      &:before {
         line-height: 150px;
      }
   }
   h3 {
      clear: right;
      color: white;
      float: right;
      font-size: 24px;
      letter-spacing: 1px;
      margin-top: 25px;
      text-align: right;
      text-transform: uppercase;
   }
   ul {
      float: right;
      list-style-type: none;
      margin-top: 25px;
      margin-bottom: 0;
      text-transform: uppercase;
      li {
         display: inline;
         padding: 20px;
         a {
            color: white;
            font-size: 12px;
            letter-spacing: 1px;
            text-decoration: none;
            &:hover {
               color: $red;
            }
         }
         &:last-child, &.last {
            padding-right: 0;
         }
      }
   }
}

#banner {
   border-bottom: 90px solid $black;
   position: relative;
   text-align: center;
   h1 {
      float: none;
      font-size: 48px;
      line-height: 58px;
      margin-bottom: 0;
      margin-top: 40px;
      margin-left: auto;
      margin-right: auto;
      max-width: 860px;
      text-transform: none;
      text-align: left;
      padding: 0 30px;
   }
   img {
      margin: 0 auto;
      width: 100%;
      max-width: 906px;
   }
}

#in-this-issue {
   background: $red;
   height: 240px;
   position: absolute;
   padding: 0 40px;
   right: 15px;
   width: 265px;
   z-index: 10;
   h3 {
      border-bottom: 1px solid black;
      color: white;
      font-size: 24px;
      margin: 0;
      padding: 30px 0 10px;
      text-align: center;
   }
   a {
      color: #ccc;
      font-family: Georgia, "Times New Roman", Times, serif;
      font-size: 14px;
      font-style: italic;
      margin-left: 5px;
      &:hover {
         text-decoration: underline;
      }
   }
   ul {
      padding-top: 20px;
      list-style-type: none;
      position: relative;
      li {
         height: 30px;
         img {
            margin: 0 5px 0 -15px;
         }
         a {
            color: black;
            cursor: pointer;
            font-family: Georgia, "Times New Roman", Times, serif;
            font-size: 14px;
            font-style:italic;
            line-height: 24px;
            &:hover {
               text-decoration: underline;
            }
         }
      }
   }
}

.view-campaign {
   clear: both;
   float: left;
   margin: 15px;
   div.wf-icon-eye-open {
      color: #b3b3b3;
      cursor: pointer;
      font-size: 36px;
   }
   a {
      color: $red;
      cursor: pointer;
      font-family: Georgia, "Times New Roman", Times, serif;
      font-size: 20px;
      font-style: italic;
      line-height: 32px;
      padding-left: 10px;
   }
}

.campaign, .more {
   display: none;
   clear: both;
   min-height: 50px !important;
}

.campaign {
   .gray-modal {
      background: #ccc;
      @include border-radius(15px);
      padding: 40px;
      position: relative;
      text-align: center;
      [class*=wf-icon] {
         color: white;
         cursor: pointer;
         font-size: 50px;
         position: absolute;
         right: 20px;
         top: 20px;
         &:hover {
            color: $black;
         }
      }
   }
}

.content {
   clear: both;
   margin-bottom: 30px;
   position: relative;
   width: 100%;
   h3, p {
      padding-left: 15px;
   }
   h3 {
      float: left;
      font-size: 36px;
      margin: 0;
      margin-top: 65px;
      margin-bottom: 30px;
   }
   p {
      clear: left;
      float: left;
      margin-bottom: 20px;
   }
}

#merry-makers {
   float: left;
   div.wf-icon-country-us {
      color: $red;
      font-size: 120px;
      position: absolute;
      top: 45px;
   }
   h3, p {
      width: 100%;
      padding-right: 380px;
   }
   img {
      border: 1px solid #adadad;
      margin: 15px auto;
      max-width: 980px;
      width: 100%;
   }
   iframe {
      height: 870px;
      max-width: 750px;
      width: 100%;
   }
   .campaign {
      p {
         padding: 0;
         margin: 0 auto;
         float: none;
         max-width: 700px;
         &:nth-child(3) {
            margin-top: 10px;
         }
         &:nth-child(4) {
            font-size: 14px;
         }
      }
   }
}

#q-and-a {
   div.wf-icon-circle-blog {
      color: $red;
      font-size: 100px;
      position: absolute;
      top: 45px;
   }
   div.col-xs-4 {
      text-align: center;
      [class*="wf-icon"] {
         cursor: pointer;
         font-size: 50px;
         color: #999;
         padding-bottom: 15px;
         margin: 40px auto 0;
         width: 60px;
      }
      p, span {
         font-family: Georgia, "Times New Roman", Times, serif;
         font-size: 14px;
         font-style:italic;
         line-height: 16px;
         padding-left: 0;
      }
      p {
         float: none;
         margin: 0;
      }
      span {
         color: #999;
      }
      img {
         margin-bottom: 10px;
         max-width: 100%;
      }
      &:nth-child(2), &.nc2 {
         clear: both;
         float: left;
      }
      &:nth-child(5), &.nc5 {
         display: none;
      }
   }
   div.more {
      div.talk {
         padding: 12px;
         position: relative;
         max-width: 700px;
         margin: 20px auto;
         min-height: 40px;
         @include border-radius(12px);
         p {
            color: white;
            padding: 0;
            margin: 0;
         }
         i {
            font-size: 36px;
            position: absolute;
            top: 5px;
         }
         &.van {
            background: #4d4d4d;
            p {
               font-weight: bold;
            }
            i {
               color: #4d4d4d;
               left: -10px;
            }
         }
         &.curt {
            background: #999;
            i {
               color: #999;
               right: -10px;
            }
         }
      }
   }
}

#liveclicker {
   div.wf-icon-circle-play {
      color: $red;
      font-size: 100px;
      position: absolute;
      top: 45px;
   }
   &>div {
      h4 {
         color: $red;
         clear: left;
         font-size: 22px;
      }
      h5 {
         font-family: Arial, Helvetica, sans-serif;
         font-size: 18px;
         font-weight: bold;
         margin-bottom: 15px;
      }
      p {
         padding: 0;
      }
      img {
         width: 100%;
         max-width: 774px;
         margin: 0 auto;
      }
   }
   div.col-xs-4 {
      p {
         font-size: 14px;
         line-height: 16px;
         max-width: 270px;
      }
   }
   div.col-xs-12 {
      clear: both;
      p {
         margin: 10px 0 30px;
      }
      &.img {
         text-align: center;
         h4 {
            text-align: left;
         }
      }
   }
   p.contact {
      font-family: Georgia, "Times New Roman", Times, serif;
      font-size: 20px;
      font-style: italic;
      line-height: 32px;
      padding-left: 10px;
      margin-top: 40px;
      a {
         color: $red;
         font-family: Georgia, "Times New Roman", Times, serif;
      }
   }
}

#footer {
   clear: both;
   background: $black;
   height: 346px;
   position: relative;
   text-align: center;
   width: 100%;
   * {
      text-decoration: none;
      text-transform: uppercase;
      position: relative;
      letter-spacing: 1px;
   }
   h4 {
      color: #999;
      font-size: 18px;
      top: 60px;
   }
   ul {
      list-style-type: none;
      display: table;
      margin: 0 auto;
      top: 115px;
      li {
         display: inline;
         float: left;
         a {
            [class*="wf-icon"] {
               font-size: 60px;
               color: #666;
               padding-bottom: 6px;
            }
            p {
               color: #666;
               border-left: 1px solid #666;
               border-right: 1px solid #666;
               padding: 0 25px;
               font-size: 14px;
               height: 20px;
            }
            &:hover {
               * {
                  color: white;
               }
            }
         }
         &:first-child, &.first {
            p {
               border-left: none;
            }
         }
         &:last-child, &.last {
            p {
               border-right: none;
            }
         }
      }
   }
   span {
      color: #4D4D4D;
      display: block;
      font-size: 10px;
      top: 170px;
   }
}

@media (max-width: 575px) {
   #header {
      div.logo {
         margin-top: 16px;
      }
      ul {
         display: none;
      }
      h3 {
         margin: 18px 10px 0;
         font-size: 15px;
         float: left;
         width: 100%;
         text-align: left;
      }
   }
   #banner {
      h1 {
         font-size: 30px;
         margin: 20px;
         margin-bottom: 10px;
         line-height: 34px;
         padding-left: 10px;
      }
   }
   .col-xs-4 {
      clear: both;
      width: 100%;
   }
   #q-and-a {
      .col-xs-4 {
         div.text {
            float: left;
            margin: 20px 0 0 15px;
            max-width: 150px;
         }
         img, p {
            float: left !important;
            text-align: left !important;
         }
         margin-bottom: 20px;
         &:nth-child(3), &.nc3 {
            display: none;
         }
         &:nth-child(4), &.nc4 {
            margin-bottom: 0;
         }
         &:nth-child(5), &.nc5 {
            display: block !important;
         }
      }
   }
}
@media (min-width: 575px) and (max-width: 768px) {
   #header {
      h3 {
         width: 300px;
      }
   }
}
@media (max-width: 700px) {
   div.container-sm {
      padding: 0;
   }
   div.content {
      [class*="wf-icon"] {
         position: relative !important;
         text-align: center;
         top: 0 !important;
      }
      .col-xs-4, .col-xs-12 {
         padding: 0 !important;
      }
      h3, p {
         padding-left: 0 !important;
      }
      h3 {
         clear: left;
         font-size: 28px;
         margin-top: 0;
         text-align: center;
         width: 100%;
      }
      .campaign {
         .gray-modal {
            padding: 40px 0 !important;
         }
         .hide-campaign {
            font-size: 30px !important;
            right: 8px !important;
            top: 8px !important;
            position: absolute !important;
         }
      }
   }
   #q-and-a, #liveclicker {
      h3 {
         margin-top: 20px;
      }
   }
   #liveclicker {
      .col-xs-4 {
         clear: both;
         width: 100%;
         p {
            max-width: 100% !important;
         }
      }
   }
   #footer {
      ul {
         li {
            [class*="wf-icon"] {
               font-size: 40px !important;
               margin: 0 5px;
            }
            a {
               p { display: none; }
            }
         }
      }
   }
}
@media (max-width: 860px) {
   #in-this-issue {
      display: none;
   }
   #merry-makers {
      h3, p {
         padding-right: 0;
      }
   }
}
@media (max-width: 940px) {
   .gray-modal {
      iframe {
         width: 100%;
      }
   }

}
@media (max-width: 1080px) {
   .campaign {
      .hide-campaign {
         font-size: 30px !important;
         right: 8px !important;
         top: 8px !important;
         position: absolute !important;
      }
   }
}

// Browser Fixes
[data-browser="Chrome"] {
   &[data-platform="Windows"] {}
   &[data-platform="Mac"] {}
   &[data-platform="Android"] {}
   &[data-platform="iPhone"] {}
}
[data-browser="Safari"] {}
[data-browser="Firefox"] {}
[data-browser="MSIE"] {
   &[data-version="9.0"] {}
   &[data-version="10.0"] {}
}