@mixin opacity($level) {
   opacity: $level;
   filter: alpha(opacity=($level * 100));
}

@mixin border-radius($radius) {
   border-radius: $radius;
   -moz-border-radius: $radius;
   -webkit-border-radius: $radius;
}

@mixin box-shadow($shadow) {
   -webkit-box-shadow: $shadow;
   -moz-box-shadow: $shadow;
   box-shadow: $shadow;
}

@mixin bg-image($path) {
   background-image: url('../images/' + $path);
}

$black : #29292B;
$red : #E23120;
$maxWidth : 1280px;

@font-face {
   font-family: Gotham;
   src: url('../fonts/Gotham/Gotham-Black.otf');
}

@font-face {
   font-family: GothamBook;
   src: url('../fonts/Gotham/Gotham-Book.otf');
}

@font-face {
   font-family: GothamMedium;
   src: url('../fonts/Gotham/Gotham-Medium.otf');
}

.g-book { font-family: GothamBook; }
.g-medium { font-family: GothamMedium; }

* {
   border: none;
   font-weight: 300;
   outline: none;
   font-family: Gotham;
   margin: 0;
   padding: 0;
}

body {
   color: $black;
   position: relative;
   width: 100%;
   h1,h2,h3,h4,h5,h6 { text-transform: uppercase; }
   p {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 18px;
      line-height: 22px;
   }
}

.container {
   max-width: $maxWidth;
}

#header {
   display: none;
   background: $black;
   height: 138px;
   position: relative;
   width: 100%;
   div.logo {
      @include bg-image('spotlight_landing_logo.png');
      position: absolute;
      top: 35px;
      left: 30px;
      height: 66px;
      width: 238px;
   }
   h3, ul {
      margin-right: 60px;
   }
   h3 {
      clear: right;
      color: white;
      float: right;
      font-size: 24px;
      letter-spacing: 1px;
      margin-top: 25px;
      text-align: right;
      text-transform: uppercase;
   }
   ul {
      float: right;
      list-style-type: none;
      margin-top: 25px;
      margin-bottom: 0;
      text-transform: uppercase;
      li {
         display: inline;
         padding: 20px;
         a {
            color: white;
            font-size: 12px;
            letter-spacing: 1px;
            text-decoration: none;
            &:hover {
               color: $red;
            }
         }
         &:last-child {
            padding-right: 0;
         }
      }
   }
}

#content {
   display: none;
   div.banner {
      min-height: 420px;
      text-align: center;
      &>div {
         float: none;
         margin-left: auto;
         margin-right: auto;
      }
      h1 {
         font-size: 48px;
         line-height: 58px;
         margin-top: 40px;
         text-transform: none;
         text-align: left;
      }
      img {
         position: absolute;
         bottom: 88px;
         left: 0;
         right: 0;
         margin: auto;
         max-width: 100%;
      }
   }
   div.black-bar {
      background: $black;
      height: 90px;
   }
}

#footer {
   display: none;
}

// Only Extra Small
@media (max-width: 768px) {

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

// Browser Fixes
[data-browser="Chrome"] {
   &[data-platform="Windows"] {}
   &[data-platform="Mac"] {}
   &[data-platform="Android"] {}
   &[data-platform="iPhone"] {}
}
[data-browser="Safari"] {}
[data-browser="Firefox"] {}
[data-browser="MSIE"] {
   &[data-version="9.0"] {}
   &[data-version="10.0"] {}
}