@font-face {
  font-family: Gotham;
  src: url("../fonts/Gotham/Gotham-Black.otf");
}

@font-face {
  font-family: GothamBook;
  src: url("../fonts/Gotham/Gotham-Book.otf");
}

@font-face {
  font-family: GothamMedium;
  src: url("../fonts/Gotham/Gotham-Medium.otf");
}

.g-book {
  font-family: GothamBook;
}

.g-medium {
  font-family: GothamMedium;
}

* {
  border: none;
  font-weight: 300;
  outline: none;
  font-family: Gotham;
  margin: 0;
  padding: 0;
}

body {
  color: #29292b;
  position: relative;
  width: 100%;
}
body h1, body h2, body h3, body h4, body h5, body h6 {
  text-transform: uppercase;
}
body p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 22px;
}

.container {
  max-width: 1120px;
  position: relative;
  height: 100%;
  margin: 0 15px;
}

.container-sm {
  float: right;
  max-width: 980px;
  margin-right: 20px;
  width: 100%;
}

#header {
  background: #29292b;
  height: 138px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
#header div.wf-icon-wf-labs-logo {
  color: white;
  font-size: 240px;
  float: left;
  height: 100%;
  width: 238px;
}
#header div.wf-icon-wf-labs-logo:before {
  line-height: 150px;
}
#header h3 {
  clear: right;
  color: white;
  float: right;
  font-size: 24px;
  letter-spacing: 1px;
  margin-top: 25px;
  text-align: right;
  text-transform: uppercase;
}
#header ul {
  float: right;
  list-style-type: none;
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: uppercase;
}
#header ul li {
  display: inline;
  padding: 20px;
}
#header ul li a {
  color: white;
  font-size: 12px;
  letter-spacing: 1px;
  text-decoration: none;
}
#header ul li a:hover {
  color: #e52827;
}
#header ul li:last-child {
  padding-right: 0;
}

#banner {
  border-bottom: 90px solid #29292b;
  position: relative;
  text-align: center;
}
#banner h1 {
  float: none;
  font-size: 48px;
  line-height: 58px;
  margin-bottom: 0;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 830px;
  text-transform: none;
  text-align: left;
}
#banner img {
  margin: 0 auto;
  width: 100%;
  max-width: 906px;
}

#in-this-issue {
  background: #e52827;
  height: 240px;
  position: absolute;
  padding: 0 40px;
  right: 20px;
  width: 265px;
  z-index: 10;
}
#in-this-issue h3 {
  border-bottom: 1px solid black;
  color: white;
  font-size: 24px;
  margin: 0;
  padding: 30px 0 10px;
  text-align: center;
}
#in-this-issue ul {
  padding-top: 20px;
  list-style-type: none;
  position: relative;
}
#in-this-issue ul li {
  height: 30px;
}
#in-this-issue ul li img {
  margin: 0 5px 0 -15px;
}
#in-this-issue ul li span {
  cursor: pointer;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  font-style: italic;
  line-height: 24px;
}
#in-this-issue ul li span:hover {
  text-decoration: underline;
}
#in-this-issue a {
  color: #ccc;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  font-style: italic;
  margin-left: 5px;
}
#in-this-issue a:hover {
  text-decoration: underline;
}

.view-campaign {
  clear: both;
  margin: 15px;
}
.view-campaign div.wf-icon-eye-open {
  color: #b3b3b3;
  cursor: pointer;
  font-size: 36px;
}
.view-campaign a {
  color: #e52827;
  cursor: pointer;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-style: italic;
  line-height: 32px;
  padding-left: 10px;
}

.content {
  clear: both;
  margin-bottom: 30px;
  position: relative;
  width: 100%;
}
.content h3, .content p {
  padding-left: 15px;
}
.content h3 {
  float: left;
  font-size: 36px;
  margin: 0;
  margin-top: 65px;
  margin-bottom: 30px;
}
.content p {
  clear: left;
  float: left;
  margin-bottom: 20px;
}

#merry-makers {
  float: left;
}
#merry-makers div.wf-icon-country-us {
  color: #e52827;
  font-size: 120px;
  position: absolute;
  top: 45px;
}
#merry-makers h3, #merry-makers p {
  max-width: 600px;
}
#merry-makers img {
  border: 1px solid #adadad;
  margin: 15px auto;
  max-width: 980px;
  width: 100%;
}

#q-and-a div.wf-icon-circle-blog {
  color: #e52827;
  font-size: 100px;
  position: absolute;
  top: 45px;
}
#q-and-a div.col-xs-4 {
  text-align: center;
}
#q-and-a div.col-xs-4 [class*="wf-icon"] {
  cursor: pointer;
  font-size: 50px;
  color: #999;
  padding-bottom: 15px;
  margin: 40px auto 0;
  width: 60px;
}
#q-and-a div.col-xs-4 p, #q-and-a div.col-xs-4 span {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  font-style: italic;
  line-height: 16px;
}
#q-and-a div.col-xs-4 p {
  float: none;
  margin: 0;
}
#q-and-a div.col-xs-4 span {
  color: #999;
  cursor: pointer;
}
#q-and-a div.col-xs-4 img {
  margin-bottom: 10px;
}

#liveclicker div.wf-icon-circle-play {
  color: #e52827;
  font-size: 100px;
  position: absolute;
  top: 45px;
}
#liveclicker > div h4 {
  color: #e52827;
  clear: left;
  font-size: 22px;
}
#liveclicker > div h5 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}
#liveclicker > div p {
  padding: 0;
}
#liveclicker > div img {
  width: 100%;
  max-width: 774px;
  margin: 0 auto;
}
#liveclicker div.col-xs-4 p {
  font-size: 14px;
  line-height: 16px;
  max-width: 270px;
}
#liveclicker div.col-xs-12 {
  clear: both;
}
#liveclicker div.col-xs-12 p {
  margin: 10px 0 30px;
}
#liveclicker div.col-xs-12.img {
  text-align: center;
}
#liveclicker div.col-xs-12.img h4 {
  text-align: left;
}
#liveclicker p.contact {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  font-style: italic;
  line-height: 32px;
  padding-left: 10px;
  margin-top: 40px;
}
#liveclicker p.contact a {
  color: #e52827;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#footer {
  clear: both;
  background: #29292b;
  height: 346px;
  position: relative;
  text-align: center;
  width: 100%;
}
#footer * {
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 1px;
}
#footer h4 {
  color: #999;
  font-size: 18px;
  top: 60px;
}
#footer ul {
  list-style-type: none;
  display: table;
  margin: 0 auto;
  top: 115px;
}
#footer ul li {
  display: inline;
  float: left;
}
#footer ul li a [class*="wf-icon"] {
  font-size: 60px;
  color: #666;
  padding-bottom: 6px;
}
#footer ul li a p {
  color: #666;
  border-left: 1px solid #666;
  border-right: 1px solid #666;
  padding: 0 25px;
  font-size: 14px;
  height: 20px;
}
#footer ul li a:hover p {
  color: #e52827;
}
#footer ul li:first-child p {
  border-left: none;
}
#footer ul li:last-child p {
  border-right: none;
}
#footer span {
  color: #4D4D4D;
  display: block;
  font-size: 10px;
  top: 170px;
}

/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1280px and up) */
@media (min-width: 1280px) {
  .container {
    margin: 0 auto !important;
  }
}
